[report]
exclude_lines = def __str__
                def name()
                raise NotImplementedError
                if match is None
show_missing = True

[run]
branch = True
source = ./validation/
